* {
	margin: 0;
	padding: 0;
}
body {
	background: black;
	font-family: Verdana;
}
header {
	padding: 40px 0 0;
	margin: 0 auto;
	text-align: center;
}
header h1 {
	padding: 0 0 40px;
	font-size: 50px;
	color: white;
}

a {
	color: Aquamarine;
	font-size: 16px;
}

main {
	margin: 0 auto;
}
video {
	display: block;
	margin: 20px auto 0;
}

section {
	margin: 40px auto 20px;
	text-align: center;
}

section h2 {
	font-weight: 300;
	font-size: 42px;
	color: white;
}
section h4 {
	padding: 25px 0;
	font-size: 21px;
	color: gray;
}
article {
	margin: 25px auto 0;
	text-align: center;
}

article h2 {
	margin: 25px 0;
}
footer {
	padding: 0 20px 10px;
	text-align: right;
	color: gray;
	